<h1>Search All Clubs</h1>

<br />
<table>
<% for club in @clubs %>
  <tr>
    <td><%= link_to club.name, club_path(club) %>, <%=h club.locationcode %></td>
<!--    <td><%= link_to 'Edit', edit_club_path(club) %>
    <% if club.id != 1 %>
		<%= link_to 'Delete', club, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
		</td>-->
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Create a New Club', new_club_path %><BR /><BR /><BR />

