<h1><%= @club.initials -%>: Join</h1>

<%= error_messages_for :membership %>

<H3>Submit Request for Membership</H3>
<% form_for(:membership, :url => club_memberships_path) do |f| %>

<%= f.hidden_field :user_id, :value => session[:user_id] %>
<%= f.hidden_field :club_id, :value => params[:club_id] %>
<%= f.hidden_field :status, :value => "requested" %>

<table>
	<tr>
		<td>Member Joining:</td>
		<td><%= @user.full_name %></td>
	</tr>
	<tr>
		<td>Club:</td>
		<td><%= @club.name %></td>
	</tr>
	<tr>
		<td>Membership Requested:</td>
		<td><% @requested_status_options = Membershiptype.find(:all, :conditions => ["club_id=?", session[:club_id]]) %>
			<select name="membership[membershiptype_id]">
				<% @requested_status_options.each do |type| %>
				<option value="<%= type.id %>"><%= type.name %></option>
				<% end %>
			</select>
		</td>
	</tr>	
	<tr><td colspan=2><%= f.submit "Submit Membership Request" %></td></tr>
</table>
<% end %>

<%= link_to 'Back', memberships_path %>
