<h1>Listing substitutes</h1>

<table>
  <tr>
    <th>Teammember</th>
    <th>Race</th>
    <th>User</th>
  </tr>

<% for substitute in @substitutes %>
  <tr>
    <td><%=h substitute.teammember_id %></td>
    <td><%=h substitute.race_id %></td>
    <td><%=h substitute.user_id %></td>
    <td><%= link_to 'Show', substitute %></td>
    <td><%= link_to 'Edit', edit_substitute_path(substitute) %></td>
    <td><%= link_to 'Destroy', substitute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New substitute', new_substitute_path %>
