<% @photo = Photo.find(:first, :conditions => ["race_id=?", race.id]) %>
<% @event = Event.find(:first, :conditions => ["id=?", race.event_id]) %>
<div class="<%= cycle('report_odd', 'report_even')%>">
<table width=100%>
  <tr>
    <td><b><% if race.team %><%= link_to race.team.description, :controller => "teams", :action => "show", :id => race.team.id %> <% if race.result != nil %>- <%=h race.result %><% end %><% end %></b></td>
    <td align=right>

<% if race.team %><% if current_team(race.team.id) %>
<div class="smaller">
[ <%= link_to 'Edit Report', edit_event_race_path(race.event_id, race.id) %> | <%= link_to 'Add a Substitute Team Member', new_team_substitute_path(race.team) %> <% if !@photo %>| <%= link_to "Add Photos", new_event_race_photo_path(race.event_id, race.id) %> <% end %> ]
</div>
<% end %><% end %>

</td>
	</tr>
  
	<tr>
    <td colspan=2 width=100%>
	<% if @photo  %>
	<div class="report_gallery">
	<%= link_to image_tag(@photo.public_filename('thumb'), :class => "photo_thumb"), event_race_photos_path(@event.id, race.id) %>
	<div class="smaller">[ <%= link_to "Add More Photos", new_event_race_photo_path(race.event_id, race.id) %> ]</div>
	</div>
	<% end %>
  <div class="smaller">
    <% if race.report != nil %>
      <%= race.report %>
    <% else %>
      <% if race.team %>
      <% if current_team(race.team.id) %>
        <BR />None of your team mates have written a race report yet. Click <%= link_to 'here', edit_event_race_path(race.event_id, race.id) %> to write one!<BR /><BR />
      <% else %>
        <BR />No-one from this crew has written a race report yet.<BR /><BR />
      <% end %>
      <% end %>
    <% end %>
  </div>
		</td>
	</tr>
  <% if race.team %>
	<tr>
    <td colspan=2><div class="smaller"><%= render :partial => "teammember", :collection => race.team.teammember, :locals => { :race => race } %></div></td>
	</tr>
  <% end %>
  <% @substitute = Substitute.find(:all, :conditions => ["team_id=? and race_id=?", race.team.id, race.id]) %>
  <% if @substitute.size != nil -%>
	<tr>
    <td colspan=2><div class="smaller" style="margin-left: 20px">
    <% @substitute.each do |sub| %>
    <%= link_to sub.user.full_name, :controller => "profile", :action => "show", :id => sub.user.id -%> subbed for <%= link_to sub.teammember.user.full_name, :controller => "profile", :action => "show", :id => sub.teammember.user.id -%>. 
    <% end %></div>
  </td></tr>
  <% end -%>
</table>
</div>