<h2><%= @user.full_name %></h2>

<table width=100% cellpadding=1px cellspacing=0px>
<tr valign=top>
  
<td width=220px >
<%= render :partial => 'avatar/sidebar_box' %>

<BR /><BR /><b>Personal Info <% if session[:profile_viewed_matches_login] %>(<%= nav_link "edit", "spec", "edit" %>)<% end %></b><BR />
<div class="smaller"><b>Email: </b><%= @user.email %></div>
<%= render :partial     => "spec/field_row", :collection   => Spec::ALL_FIELDS %>
<BR />
<%= render :partial => "memberships/clubs" %>
<%= render :partial => "contact_box" %>


</td>
<td valign=top>
      
<%= tabnav :profiletabs %>

<H3>About Me:</H3>

<% if @spec.aboutme != nil %>
  <%= @spec.aboutme %>
  <% if profile_viewed_matches_login?(params[:id], session[:user_id]) %>
    <div align=right class="smaller">[ <%= link_to "Edit", :controller => "spec", :action => "edit", :id => params[:id] %> ]</div>
  <% end %>
<% else %>
  <% if profile_viewed_matches_login?(params[:id], session[:user_id]) %>
    Edit your About Me section <%= link_to "here", :controller => "spec", :action => "edit", :id => params[:id] %>.
  <% else %>
    <%= @user.firstname %> hasn't written anything here yet. 
  <% end %>
<% end %>  


</td></tr></table>