<p>
  <b>Trainingsession:</b>
  <%=h @interval.trainingsession_id %>
</p>

<p>
  <b>User:</b>
  <%=h @interval.user_id %>
</p>

<p>
  <b>Order:</b>
  <%=h @interval.order %>
</p>

<p>
  <b>Rest:</b>
  <%=h @interval.rest %>
</p>

<p>
  <b>Distance:</b>
  <%=h @interval.distance %>
</p>

<p>
  <b>Distance units:</b>
  <%=h @interval.distance_units %>
</p>

<p>
  <b>Duration:</b>
  <%=h @interval.duration %>
</p>

<p>
  <b>Duration units:</b>
  <%=h @interval.duration_units %>
</p>

<p>
  <b>Aim for rate:</b>
  <%=h @interval.aim_for_rate %>
</p>

<p>
  <b>Aim for split min:</b>
  <%=h @interval.aim_for_split_min %>
</p>

<p>
  <b>Aim for split sec:</b>
  <%=h @interval.aim_for_split_sec %>
</p>

<p>
  <b>Aim for split point:</b>
  <%=h @interval.aim_for_split_point %>
</p>

<p>
  <b>Aim for wattage:</b>
  <%=h @interval.aim_for_wattage %>
</p>

<p>
  <b>Res rate:</b>
  <%=h @interval.res_rate %>
</p>

<p>
  <b>Res wattage:</b>
  <%=h @interval.res_wattage %>
</p>

<p>
  <b>Res avg hr:</b>
  <%=h @interval.res_avg_hr %>
</p>

<p>
  <b>Res max hr:</b>
  <%=h @interval.res_max_hr %>
</p>

<p>
  <b>Res split min:</b>
  <%=h @interval.res_split_min %>
</p>

<p>
  <b>Res split sec:</b>
  <%=h @interval.res_split_sec %>
</p>

<p>
  <b>Res split point:</b>
  <%=h @interval.res_split_point %>
</p>

<p>
  <b>Notes:</b>
  <%=h @interval.notes %>
</p>


<%= link_to 'Edit', edit_interval_path(@interval) %> |
<%= link_to 'Back', intervals_path %>
